    <div id="footer">
        <div id="footerWidgetArea" class="clearfix">
            <div id="footerSocialWidget">
                <div id="text-3" class="widget-container widget_text ">
                    <div class="textwidget">
                        <ul class="socialLinks">
                            <li class="facebook"><a
                                    href="https://www.facebook.com/CostasTsielepisCo"
                                    target="_blank">Facebook</a></li>
                            <li class="twitter"><a
                                    href="https://twitter.com/CostasTsielepis"
                                    target="_blank">Twitter</a></li>
                            <li class="linkedin"><a
                                    href="https://www.linkedin.com/company/costas-tsielepis-&-co"
                                    target="_blank">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footerWidgets" class="clearfix">
                <div id="nav_menu-2"
                     class="widget-container widget_nav_menu ">
                    <div class="menu-our-company-container">
                        <ul id="menu-our-company" class="menu">
                            <li id="menu-item-128"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128">
                                <a href="https://tsielepis.com.cy/about-us/our-company/">Our
                                    Company</a></li>
                            <li id="menu-item-129"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129">
                                <a href="https://tsielepis.com.cy/about-us/our-people/">Our
                                    People</a></li>
                            <li id="menu-item-130"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">
                                <a href="https://tsielepis.com.cy/about-us/one-team/">One
                                    Team</a></li>
                            <li id="menu-item-131"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131">
                                <a href="https://tsielepis.com.cy/services/">Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="nav_menu-3"
                     class="widget-container widget_nav_menu ">
                    <div class="menu-industries-container">
                        <ul id="menu-industries" class="menu">
                            <li id="menu-item-132"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132">
                                <a href="https://tsielepis.com.cy/industries/">Industries</a>
                            </li>
                            <li id="menu-item-133"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133">
                                <a href="https://tsielepis.com.cy/news/">News</a>
                            </li>
                            <li id="menu-item-135"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
                                <a href="https://tsielepis.com.cy/careers/">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="nav_menu-4"
                     class="widget-container widget_nav_menu ">
                    <div class="menu-contact-us-container">
                        <ul id="menu-contact-us" class="menu">
                            <li id="menu-item-136"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136">
                                <a href="https://tsielepis.com.cy/contact-us/">Contact
                                    Us</a></li>
                            <li id="menu-item-5715"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5715">
                                <a href="https://tsielepis.com.cy/general-data-protection-regulation-policy/">GDPR
                                    Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div id="text_icl-4"
                     class="widget-container widget_text_icl contactWidget">
                    <div class="textwidget"><strong>Costas Tsielepis & Co
                        Ltd</strong><br/>
                        205, 28th October Str., Louloupis Court, 1st
                        Floor,<br/> 3035 Limassol, Cyprus<br/>
                        T: +357 25871000 | F: +357 25373737
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright" class="clearfix">
            <div id="copyrightIn">
                © 2018 Costas Tsielepis & Co Ltd | Registration No. HE195250
                | Licensed Statutory Auditors, ICPAC Certificate No. E165/A
            </div>
        </div>
    </div>
