<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>{{ site.name }}</strong>
            </a>
        </div>
        <div class="navbar-collapse collapse"
             id="navbar-collapse-main">
            <ul class="nav navbar-nav hidden-xs">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tags">Tags</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/disclaimer">Disclaimer</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
                <li>
                    <a class="app-notifications"
                       href="https://github.com/niden">
                        <span class="icon icon-github-with-circle"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <li><a href="/">Home</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/disclaimer">Disclaimer</a></li>
            </ul>
        </div>
    </div>
</nav>
