<div class="splashSlider">
    <img src="/assets/files/slideShowHolder.png"/>
    <div class="splashArea">
        <img class="splashImg"
             src="/assets/files/slide1-1080x408.jpg"/>
        <div class="splashContent">
            <blockquote>"It is not the strongest of the<br/>species that survives, nor the<br/> most intelligent, but the one most<br/> responsive to change."<cite>- Charles Darwin</cite></blockquote>
        </div>
    </div>
    <div class="splashArea">
    <img class="splashImg"
    src="/assets/files/road_1080x408-1080x408.jpg"/>
    <div class="splashContent">
    <blockquote>"There are no traffic jams<br/>along the extra mile."<cite>- Roger Staubach</cite></blockquote>
    </div>
    </div>
    <div class="splashArea">
    <img class="splashImg"
    src="/assets/files/slide4-1080x408.jpg"/>
    <div class="splashContent">
    <blockquote>"Well done is better than well said."<cite>- Benjamin Franklin</cite></blockquote>
    </div>
    </div>
</div>
<div id="splashPager"></div>
