        <div id="navigation" class="clearfix">
            <a href="javascript:void(0)" id="toggle-menu">Navigation</a>
            <ul id="menu-main-menu" class="menu clearfix">
                {% for menu in site.data.menu.menu-items %}
                {% if page.language == menu.language %}
                {% assign langUrl = menu.permalink | prepend: menu.language | prepend: '/' %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home{% if page.url == langUrl %} current-menu-item current_page_item current_page_parent{% endif %}">
                    <a href="/{{ page.language }}{{ menu.permalink }}">
                        {{ menu.title }}
                    </a>
                    {% if menu.sub-menu-items %}
                    <ul class="sub-menu">
                        {% for subMenu in menu.sub-menu-items %}
                        {% if page.language == subMenu.language %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/{{ page.language }}{{ subMenu.permalink }}">
                                {{ subMenu.title }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

