                    <div class="panel panel-default panel-link-list">
                        <div class="panel-body">
                            <h5 class="m-t-0">Tag Cloud</h5>
                            {% assign tags = site.tags | sort %}
                            {% for tag in tags %}
                            <span style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                                <a href="/tags#{{ tag | first | slugify }}">
                                    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                                </a>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
