<!DOCTYPE html>
<html lang="{{ page.language | default: 'en-US' }}">

{% include head.html %}

<body class="home page-template page-template-tpl-home page-template-tpl-home-php page page-id-5">
<div class="wrapper">
    <div class="wrapperIn">
        <div id="header" class="clearfix">
            <div id="logo" class="clearfix">
                <div class="logo"><a href="https://tsielepis.com.cy">
                    Costas Tsielepis &amp; Co</a></div>
                <div class="logoTxt">
                    <h1><a href="https://tsielepis.com.cy">
                        Costas Tsielepis &amp; Co</a></h1>
                </div>
            </div>
            <div id="headerRight">
                <ul class="language_chooser">
                    <li><a class="active"
                           href="https://tsielepis.com.cy/">Eng</a></li>
                    <li><a href="https://tsielepis.com.cy/ru/">Rus</a></li>
                </ul>
                <div id="headerSearch">
                    <form role="search" method="get" id="searchform"
                          class="searchform" action="https://tsielepis.com.cy/">
                        <input type="text" placeholder="Search..." value=""
                               name="s" id="s"/>
                        <input type="submit" id="searchsubmit" value="Search"/>
                    </form>
                </div>
            </div>
        </div>
        {% include navigation.html %}
        <div id="main">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</div>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

</body>
</html>