<!DOCTYPE html>
<html lang="{{ page.language | default: 'en-US' }}">

{% include head.html %}

<body class="home page-template page-template-tpl-home page-template-tpl-home-php page page-id-5">
<div class="wrapper">
    <div class="wrapperIn">
        <div id="header" class="clearfix">
            <div id="logo" class="clearfix">
                <div class="logo"><a href="https://tsielepis.com.cy">
                    Costas Tsielepis &amp; Co</a></div>
                <div class="logoTxt">
                    <h1><a href="https://tsielepis.com.cy">
                        Costas Tsielepis &amp; Co</a></h1>
                </div>
            </div>
            <div id="headerRight">
                <ul class="language_chooser">
                    <li><a class="active"
                           href="https://tsielepis.com.cy/">Eng</a></li>
                    <li><a href="https://tsielepis.com.cy/ru/">Rus</a></li>
                </ul>
                <div id="headerSearch">
                    <form role="search" method="get" id="searchform"
                          class="searchform" action="https://tsielepis.com.cy/">
                        <input type="text" placeholder="Search..." value=""
                               name="s" id="s"/>
                        <input type="submit" id="searchsubmit" value="Search"/>
                    </form>
                </div>
            </div>
        </div>
        {% include navigation.html %}
        <div id="main">
            <div id="home-section" class="site-splash fullscreen">
                {% include index_slider.html %}
            </div>
            <div id="container">
                <div class="post">
                    <div class="entry">
                        <div class="padLefthome">
                            <p>We warmly welcome you to Costas Tsielepis &amp;
                                Co Ltd, offering Tax Advisory, Business
                                Consultancy and Audit &amp; Assurance
                                services.</p>
                            <p>Costas Tsielepis &amp; Co was originally
                                established back in 1978 and is now widely
                                acknowledged as one of the leading audit and tax
                                advisory firms in Cyprus.</p>
                            <p>What makes Costas Tsielepis &amp; Co different is
                                the boutique approach to the way it interacts
                                with its clients and the way it tailors its
                                services to their unique needs and requirements.
                                We understand the importance of deadlines, of
                                personalised and proactive communication, of
                                trust and confidentiality and of providing
                                solutions that safeguard the integrity and best
                                interests of our clients’ business
                                enterprises.</p>
                            <p>We have been consistently and diligently serving
                                local and international clients based on this
                                approach, for over 35 years.</p>
                            <p>We look forward to addressing your business needs
                                and to welcoming you to our organisation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                <div id="widgetArea">
                    <div id="text_icl-2"
                         class="widget-container widget_text_icl elibrarywidget3">
                        <div class="textwidget"><img
                                class="aligncenter wp-image-5523"
                                src="https://tsielepis.com.cy/wp-content/uploads/40_logo_Website.jpg"
                                alt="" width="129" height="154"/>
                            <p style="text-align: center; font-size: 13px;">
                                Celebrating 40 Years of Excellence!</p></div>
                    </div>
                    <div id="text_icl-6"
                         class="widget-container widget_text_icl elibrarywidget">
                        <h3 class="widget-title">2017 TRANSPARENCY REPORT</h3>
                        <div class="textwidget"><a
                                href="https://tsielepis.com.cy/wp-content/uploads/TRANSPARENCY-REPORT-2017-CTCo.pdf">VIEW</a>
                        </div>
                    </div>
                    <div id="custom_recent_news-2"
                         class="widget-container Custom_Recent_News "><h3
                            class="widget-title">NEWS</h3>
                        <div class="customRecentPosts">
                            <ul>
                                <li class="clearfix">
                                    <h3 class="postTitle widgetPostTitle"><a
                                            title="Cyprus introduces Film Tax Scheme"
                                            href="https://tsielepis.com.cy/cyprus-introduces-film-tax-scheme/">
                                        Cyprus introduces Film Tax Scheme </a>
                                    </h3>
                                    <div class="widgetPostTxt">
                                        15 January, 2019 - Cyprus recently
                                        introduced a highly lucrative Film
                                        Scheme with the aim of providing tax
                                        incentives to film production&hellip;
                                        <em><a class="readMoreLink"
                                               href="https://tsielepis.com.cy/cyprus-introduces-film-tax-scheme/">Click
                                            Here to read more.</a></em>
                                    </div>
                                </li>
                            </ul>
                            <a href="https://tsielepis.com.cy/news/">NEWS
                                ARCHIVE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {% include footer.html %}
    </div>
</div>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

</body>
</html>